body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(120deg, #7a4059, #513252);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    color: #333;
}

.container {
    background: #ffffff;
    padding: 30px;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    width: 400px;
}

h1, h2 {
    text-align: center;
    color: #ca4e79;
}

form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #ca4e79;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ffc186;
}

.hasil {
    margin-top: 30px;
    background: #f2d7d9;
    padding: 20px;
    border-radius: 10px;
}
